.station__list__item {
  color: #1b1719;
  background-color: #d4d6d5;
  padding: 2rem;
  list-style: none;
  border-radius: 1rem;
  margin: 0.5rem;
}

.station__header {
  font-size: 100%;
  text-align: center;
}

.station__name {
  margin: 0;
  padding: 0;
}

.station__info {
  display: flex;
  flex-direction: column;
}

.station__label {
  padding: 0.5rem;
  text-decoration: underline;
}

.station__status {
  margin: 0;
  padding: 0.5rem;
}

.station__location {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 120%;
}

.station__address {
  display: flex;
  flex-direction: column;
}
.sort__options {
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
}

.sort__button {
  font-size: 120%;
  padding: 0.5rem;
  border-radius: 1rem;
}

.red {
  color: red;
}

.orange {
  color: orange;
}

.green {
  color: green;
}

.availability {
  display: flex;
  justify-content: space-evenly;
}

.rental__methods {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.payment__options {
  /* list-style: none; */
  /* display: flex; */
  /* justify-content: space-between; */
  padding: 0;

  white-space: nowrap;
}
.payment__option {
  padding: 0.3rem;
}
