.header__container {
  background-color: #fff;
  margin-top: 0;
  padding-top: 0;
  border-bottom: solid 0.2rem green;
}

.title {
  text-align: center;
  margin: 0;
}

.main__container {
  /* padding-top: 9rem; */
}

.station__list__item {
  color: #1b1719;
  background-color: #d4d6d5;
  padding: 2rem;
  list-style: none;
  border-radius: 1rem;
  margin: 0.5rem;
}

.station__header {
  font-size: 100%;
  text-align: center;
}

.station__name {
  margin: 0;
  padding: 0;
}

.station__info {
  display: flex;
  flex-direction: column;
}

.station__label {
  padding: 0.5rem;
  text-decoration: underline;
}

.station__status {
  margin: 0;
  padding: 0.5rem;
}

.station__location {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 120%;
}

.station__address {
  display: flex;
  flex-direction: column;
}
.sort__options {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.sort__button {
  font-size: 120%;
  padding: 0.5rem;
  border-radius: 1rem;
  margin: 0.5rem;
  cursor: pointer;
}

.red {
  color: red;
}

.orange {
  color: orange;
}

.green {
  color: green;
}

.availability {
  display: flex;
  justify-content: space-evenly;
}
.capacity {
  text-align: left;
}
.payment__options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.payment__options {
  /* list-style: none; */
  /* display: flex; */
  /* justify-content: space-between; */
  padding: 0;

  white-space: nowrap;
}
.station__payment {
  display: flex;
}

@media all and (min-width: 900px) {
  .header__container {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
  }

  .title {
    font-size: 250%;
  }
  .sort__options {
    padding: 0;
  }
  .station__info {
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
  }
  .label__data {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
  }
  .station__label {
    padding: 0;
  }
  .main__container {
    font-size: 120%;
  }
}
